// ALL
$linkColor: #415399;
$breadcrumbLinkItemColor: #929293;
$contentBackgroundColor: #E7E9F3;
$wrapperPadding: 10px 120px 40px 120px;
$sideMenuWidth: 230px;
$lightGrayColor: #9B9B9B;

* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

// HEADER
$backgroundColor: #384783;

.header {
    background-color: $backgroundColor;
    font-size: 14px;
    padding: 15px;
    h1 {
        display: inline;
    }
    span {
        padding: 8px;
    }
    img {
        margin: 0 30px;
        vertical-align: middle;
    }
    button, input, span {
        color: white;
        line-height: 25px;
        border: 0;
    }
    button {
        background-color:rgba(255, 255, 255, 0.2);
        line-height: 35px;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
    }
    span {
        text-transform: uppercase;
    }
    button:hover {
        background-color:rgba(255, 255, 255, 0.4);
        cursor: pointer;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    ul, li {
        color: white;
        display: inline;
        text-transform: uppercase;
    }
    .menu li {
        margin: 10px;
        line-height: 35px;
        padding-left: 20px;
        padding-right: 30px;
        background-image: url("../images/arrow-down.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: right;
    }
    .searchbar {
        border-radius: 5px;
        background-color: #1F2B59;
        background-image: url("../images/search.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 10px;
        padding: 8px 8px 8px 45px;
        width: 20%;
    }
    .searchbar::placeholder {
        color: white;
    }
}

.wrapper {
    padding: $wrapperPadding;
    background-color: $contentBackgroundColor;
}

.content {
    background-color: $contentBackgroundColor;
    .side {
        width: $sideMenuWidth;
    }
}

.header {
    background-color: #384783;
}
