// ALL
$linkColor: #415399;
$breadcrumbLinkItemColor: #929293;
$contentBackgroundColor: #E7E9F3;
$wrapperPadding: 10px 120px 40px 120px;
$sideMenuWidth: 230px;
$lightGrayColor: #9B9B9B;

* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

// HEADER
$backgroundColor: #384783;

.header {
    background-color: $backgroundColor;
    font-size: 14px;
    padding: 15px;
    h1 {
        display: inline;
    }
    span {
        padding: 8px;
    }
    img {
        margin: 0 30px;
        vertical-align: middle;
    }
    button, input, span {
        color: white;
        line-height: 25px;
        border: 0;
    }
    button {
        background-color:rgba(255, 255, 255, 0.2);
        line-height: 35px;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
    }
    span {
        text-transform: uppercase;
    }
    button:hover {
        background-color:rgba(255, 255, 255, 0.4);
        cursor: pointer;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    ul, li {
        color: white;
        display: inline;
        text-transform: uppercase;
    }
    .menu li {
        margin: 10px;
        line-height: 35px;
        padding-left: 20px;
        padding-right: 30px;
        background-image: url("../images/arrow-down.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: right;
    }
    .searchbar {
        border-radius: 5px;
        background-color: #1F2B59;
        background-image: url("../images/search.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 10px;
        padding: 8px 8px 8px 45px;
        width: 20%;
    }
    .searchbar::placeholder {
        color: white;
    }
}

.wrapper {
    padding: $wrapperPadding;
    background-color: $contentBackgroundColor;
}

.content {
    background-color: $contentBackgroundColor;
    .side {
        width: $sideMenuWidth;
    }
}

.footer {
    padding: $wrapperPadding;
    background-color: white;
    $bottomMenuHeigth: 10px;
    ul {
        display: inline-block;
        line-height: $bottomMenuHeigth;
        overflow: hidden;
    }
    .bottom-menu {
        list-style: none;
        padding: 0;
        li {
            display: inline;
            border-left: 1px solid $breadcrumbLinkItemColor;
            padding: 0 10px;
        }
        li:first-child {
            border-left: none;
            padding-left: 0;
        }
        a {
            color: $linkColor;
            text-decoration: none;
            font-size: $bottomMenuHeigth;
        }
    }
    .bottom-menu.icons {
        margin: 0;
    }
    .bottom-menu.icons li {
        padding: 0 10px 0 0;
        border: 0;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.copyright {
    float: left;
    clear: both;
    font-size: 10px;
    color: $lightGrayColor;
}

.breadcrumb {
    margin: 0;
    text-transform: uppercase;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 0;
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    color: $breadcrumbLinkItemColor;
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: $breadcrumbLinkItemColor;
    content: "/\00a0";
    font-size: 12px;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: $breadcrumbLinkItemColor;
    text-decoration: none;
    font-size: 12px;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
}

$sideMenuBorderColor: #D4D9E3;

ul.side-menu {
    padding: 0;
    margin: 10px 0;
    border: 1px solid $sideMenuBorderColor;
    border-radius: 5px;
    overflow: hidden;
}

.side-menu {
    list-style: none;
    ul {
        border: 1px solid $sideMenuBorderColor;
        margin-left: 10px;
    }
    li {
        border-bottom: 1px solid $sideMenuBorderColor;
        padding: 20px;
        background-color: #FFFFFF;
        text-transform: uppercase;
    }
    li:last-child {
        border-bottom: none;
    }
    a {
        color: $linkColor;
        text-decoration: none;
        font-size: 12px;
    }
    .selected {
        border-left: 3px solid #344279;
        a {
            color: #505050;
        }
    }
}
